<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Reports</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>All Reports</h1>
    <nav>
        <ul>
            {{!-- <li><a href="/reports/create">Create Report</a></li> --}}
        </ul>
    </nav>
    {{#if reports.length}}
        <ul>
    {{#each reports}}
      <li>
        <a href="/patients/reports/{{this.patient}}">View Reports for Patient {{this.patient}}</a>
        - Status: {{this.status}}
        <br><br>
        <!-- Delete Report form -->
          <form action="/reports/delete/{{this._id}}" method="POST" style="display: inline;" onsubmit="return confirm('Are you sure you want to delete this report?');">
            <button type="submit" class="btn btn-danger">Delete Report</button>
          </form>
      </li>
    {{/each}}

        </ul>
    {{else}}
        <p>No reports available.</p>
    {{/if}}
     {{!-- <!-- Back button -->
    <a href="/" class="btn btn-back">Back to Home</a> --}}
    <!-- Back to Home Button -->
<button onclick="goHome()" class="btn btn-back">Back to Home</button>
</body>
</html>
<script>
  // Function to redirect to the home page
  function goHome() {
    window.location.href = '/';
  }
</script>
