<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Reports</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h2>Reports for Patient: {{patientName}}</h2>
    <nav>
        <ul>
            {{!-- <li><a href="/reports/create">Create Report</a></li>
            <li><a href="/reports/view-all">View All Reports</a></li> --}}
        </ul>
    </nav>
    {{#if reports.length}}
        <ul>
            {{#each reports}}
                <li>
                    <strong>Patient Name:</strong> {{patient.name}}<br>
                    <strong>Status:</strong> {{status}}<br>
                    <strong>Details:</strong> {{details}}<br>
                     <strong>Created At:</strong> {{this.formattedDate}} <br>
                    <br>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No reports available for this patient.</p>
    {{/if}}
     <!-- Back to Home Button -->
   <button onclick="goHome()" class="btn btn-back">Back to Home</button>
</body>
</html>

<script>
  // Function to redirect to the home page
  function goHome() {
    window.location.href = '/';
  }
</script>
